* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(153, 153, 226);
  font-size: 1.01rem;
}
.navbar-toggle {
  display: none;
}
main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 40px 84px;
}
.left {
  font-size: 2rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 1.9rem;
}

.leftSection .btn1,
.btn2,
.btn3 {
  padding: 10px;
  background: #1e2167;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.btn1 a {
  text-decoration: none;
  color: white;
}
.btn2 a {
  text-decoration: none;
  color: white;
}

.btn3 a {
  text-decoration: none;
  color: white;
}

.leftSection .buttons {
  padding: 50px 0;
}

.rightSection img {
  width: 80%;
}
.purple {
  color: rgb(170, 107, 228);
}
#element {
  color: rgb(170, 107, 228);
}
.text-gray {
  color: gray;
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 90vh;
}
.secondSection h1 {
  font-size: 2rem;
}
.secondSection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 155px;
}

.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -10px;
}
.vertical-title {
  position: relative;
  top: 58px;
  width: 275px;
  font-size: 1.3rem;
  margin-left: -2px;
}
.vertical-desc {
  position: relative;
  top: 70px;
  color: gray;
  width: 211px;
  font-size: 1rem;
  /* width: 300px; */
}

.h1 {
  font-size: 2rem;
  margin-left: 123px;
}

.colbox {
  border: 4px solid white;
  padding: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
}

footer {
  background-color: #0c0e1a;
  color: white;
  height: 250px;
}
.footer-first {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
  font-size: 1.3rem;
}
.footer-second ul {
  display: flex;
  margin-left: 450px;
  margin-top: -10px;
  gap: 20px;
  font-size: 1.3rem;
}
.footer-second ul li a {
  text-decoration: none;
  color: white;
}
.footer-second ul:hover {
  color: #1e2167;
  cursor: pointer;
}
.footer-third ul {
  display: flex;
  margin-left: 1100px;
  margin-top: -35px;
  gap: 17px;
  font-size: 2.2rem;
}
.footer-third ul li a {
  text-decoration: none;
  color: white;
}
.footer ul {
  list-style: none;
}
.footer > div {
  width: 223px;
}
.footer-rights {
  text-align: center;
  margin-top: 42px;
  color: gray;
  padding: 12px 0;
}

.college img {
  height: 700px;
  width: 500px;
}

/* About */

.certificate img {
  border: 4px solid rgb(159, 152, 152);
  height: 420px;
  width: 600px;
  margin: 30px;

  padding: 1px;
  border-radius: 14px;
  display: inline;
  justify-content: center;
}

.certificate img:hover {
  cursor: zoom-in;
  transform: scale(1.1);
  transition: 0.2s;
}

.heading {
  text-align: center;
  box-sizing: border-box;
  margin: 30px;
  height: 70px;
  font-size: 2.5rem;
  cursor: pointer;
}
.heading:hover {
  font-size: 2.6rem;
  color: gray;
  transition: ease-in 0.2s;
}

/* Projects */

.firstSec video {
  height: 600px;
  width: 700px;
  margin-top: -175px;
  padding: 50px;
}
.secondSec {
  color: white;
  margin-left: 838px;
  margin-top: 19px;
  padding: 10px;
  width: 420px;
}
.secondSec h2 {
  color: white;
  margin-top: -460px;
  margin-right: 280px;
  width: 350px;
}

.content {
  height: 600px;
}

.source-btn {
  padding: 8px;
  background: #1e2167;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.source-btn a {
  text-decoration: none;
  color: white;
}

.secondSec .buttons {
  margin-right: 65px;
  margin-top: 25px;
}

.source-btn {
  margin: 5px;
}

/* Contact me */

.leftSection img {
  height: 400px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
}

#hr {
  background-color: white;
  width: 428px;
  margin-left: 0px;
  height: 2px;
}
.insta button {
  padding: 10px;
  background: #1e2167;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.insta button a {
  text-decoration: none;
  color: white;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #1e2167;
    z-index: 1;
  }
  .navbar-menu.active {
    display: flex;
    transition: 0.2s;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
  }
  .fa-list {
    font-size: 1.2rem;
  }
  .main {
    flex-direction: column;
  }

  .firstSection {
    flex-direction: column;
  }

  .leftSection {
    flex-direction: column;
    font-size: 20px;
    width: 100%;
  }
  .leftSection .buttons {
    display: flex;
    margin-left: -80px;
  }
  .rightSection img {
    width: 180px;
    margin-left: -50px;
  }
  .btn1,
  .btn2,
  .btn3 {
    font-size: 15px;
    width: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
  }

  .secondSection {
    flex-direction: column;
  }

  .secondSection .study {
    font-size: 25px;
  }
  .box .vertical {
    display: none;
  }
  .image-top {
    display: none;
  }
  .h1 {
    font-size: 30px;
    margin-left: 32px;
  }
  .firstSection {
    flex-direction: column;
  }
  .leftSection img {
    height: 400px;
    width: 300px;
    margin-left: -90px;
    margin-top: -50px;
  }

  .he .colbox {
    justify-content: center;
    height: 400px;
    width: 160px;
    margin-top: 50px;
    margin-left: -60px;
  }

  #rs form {
    margin-left: -80px;
    width: 260%;
  }

  #hr {
    width: 100%;
  }

  .secondSec {
    flex-direction: column;
    width: 240px;
    font-size: 12px;
    margin-left: 70px;
    margin-top: 450px;
  }

  .firstSec video {
    width: 90%;
    height: 220px;
    margin-left: -30px;
  }

  .certificate img {
    width: 290px;
    height: 220px;
  }

  footer {
    background-color: black;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
  }
  .footer-first {
    font-size: 14px;
    margin-left: -50px;
    height: 50px;
  }
  .footer-second {
    margin-left: -410px;
  }
  .footer-second a {
    font-size: 12px;
  }
  .footer-third {
    margin-left: -980px;
    margin-top: 50px;
  }
  .footer-third a {
    font-size: 25px;
  }
}
